
.fulid{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}
.fulid p{
    padding: 10px 0;
    
}
.fulid p a{
    text-decoration: none;
    color: #777777;
}
.fulid p span{
    color: #777777;
}
article .title-all-sp {
    margin: 32px 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .title-all-sp:hover {
    color: #DF3535;
}

article .col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 150px;
    margin-bottom: 64px;
    justify-items: center;
}

article .content .sale {
    top: 10px;
    left: 10px;
    color: #f94c43;
    float: left;
    line-height: 1;
}

article .content .sale span {
    border: 1px solid #ededed;
    width: 50px;
}

article .content .san-pham img {
    width: 245.84px;
}

article .content .san-pham img:hover {
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

article .content .san-pham .ten {
    line-height: 16px;
    overflow: hidden;
    margin: 12px 0;
}
article .content .san-pham .ten a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
article .content .san-pham .ten a:hover{
    color: #DF3535;
}
article .content .san-pham .gia span {
    color: red;
    margin-right: 8px;
}